@import url(../resources/css/chord_chart.css);

.county {
  fill: #eee;
  z-index:-1;
}

.county:hover {
  fill: orange;
}

.county-border {
  fill: none;
  stroke: #777;
  pointer-events: none;
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

path.cell {
  fill: none;
  pointer-events: all;
}

circle {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
}

#cells.voronoi path.cell {
  stroke: brown;
}


#cells g.lines path.arc {
  display: inherit;
}

#data{
  position:absolute;
  top:400px;
  right:100px;
}
